
  <div class="row border-bottom-header">
    <div class="col-sm-2">
        <img src="assets\abstract-network-and-laptop.png" alt="">
    </div>
    <div class="col-sm-7">
      <ul class="nav center-nav-vertical">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/products/notebooks">NOTEBOOK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products/mobile">MOBILE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products/tv">TV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MONITORS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GAMING</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 move-right">
      <ul class="nav center-nav-vertical">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Account</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/my-account">Edit Account</a>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cart <img src="assets\shopping-app-icon-4.jpg" width="45" height="45" alt=""></a>
      </li>
      </ul>
  </div>
  
  </div>





